In [55]:
import numpy as np
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import requests
import pymongo
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [32]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\DeferentAtom94\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

# NASA Mars News

In [42]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [43]:
browser.visit(url)
time.sleep(30)
html = browser.html
soup = bs(html, 'html.parser')

In [44]:
slides = soup.find_all('li', class_='slide')

In [47]:
#Scrape the Title
#===============================================================
content_title = slides[0].find('div', class_ = 'content_title')
news_title = content_title.text.strip()
print("Title: ",news_title)

Title:  Hear Sounds From Mars Captured by NASA's Perseverance Rover

In [48]:
#Scrape the  news_p
#=================================================================================
news_particle_teaser_body = slides[0].find('div', class_ = 'article_teaser_body')
news_p = article_teaser_body.text.strip()
print("Paragraph:",news_p)

Paragraph: Two microphones aboard the six-wheeled spacecraft add a new dimension to the way scientists and engineers explore the Red Planet.

In [76]:
browser.quit()

# JPL Mars Space Images - Featured Image

In [59]:
base_url = "https://spaceimages-mars.com/"

In [60]:
browser.visit(url)
time.sleep(10)
html = browser.html
soup = bs(html, 'html.parser')

In [57]:
#url_image = soup.find('img', class_='fancybox-image').get('scr')
#url_image

AttributeError: 'NoneType' object has no attribute 'get'

In [75]:
browser.quit()

#  Mars Facts

In [26]:
url = "https://galaxyfacts-mars.com/"

In [27]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [72]:
#Create dataframe
#============================================
facts_df = tables[1]
facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [69]:
#Create Column Headsers
#===================================================
facts_df.columns=["Description", "Value"]
facts_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [73]:
#Convert to HTML
#=================================================
facts_html = facts_df.to_html()

#Check results
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [74]:
browser.quit()

# Mars Hemispheres